/* .gidole-regular {
  font-family: "Gidole", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(5, 32, 54);
  background-color: rgb(18, 99, 102);
  background-color: rgb(224, 224, 182); 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* border: 2px solid white; */
}

button {
  width: 80px;
  aspect-ratio: 1 / 1;
  font-size: 28px;
  margin: 0px 5px 0px 5px;
  border-radius: 10px;
  flex: 0 1 80px;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(18, 99, 102);
}

a:hover {
  color: rgb(145, 155, 54);
}

p {
  color: rgb(18, 99, 102);
  
  margin-top: 80px;
}

/*classes*/

.operator {
  background-color: rgb(241, 197, 75);
  background-color: rgb(145, 155, 54);
  font-size: 36px;
}

.number {
  background-color: rgb(224, 224, 182); 
  background-color: rgb(18, 99, 102);
}

.buttonDiv {
  display: flex;
  max-height: 80px;
  max-width: 360px;
  flex: 0 1 80px;
  /* border: 1px white solid; */
}


/*ids*/

#calculatorDiv {
  font-family: "Gidole", sans-serif;
  font-size: 28px;
  display: flex;
  /* flex: 0 1 620px */
  /* flex: 0 1 300px; */
  flex-direction: column;
  gap: 10px;
  height: 620px;
  /* width: 400px; */
  aspect-ratio: 65 / 100;
  padding: 20px 20px 40px 20px;
  margin-top: 50px;
  background-color: rgb(5, 32, 54);
  border: 1px solid white;
}

#displayDiv {
  justify-content: right; 
  padding: 0px 20px;
  height: 80px; 
  width: 300px;
  /* aspect-ratio: 6 / 1;  */
  flex: 0 1 50px;
  background-color: white; 
  border: 3px solid rgb(224, 224, 182); 
  font-size: 26px;
  /* font-weight: 600; */
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  margin-bottom: 25px;
  border-radius: 2px;
}

#plusMinusButton {
  font-size: 22px;
  background-color: rgb(241, 197, 75);
  background-color: rgb(145, 155, 54);
  letter-spacing: 3px;
}

#decimalButton {
  font-weight: 900;
  background-color: rgb(224, 224, 182); 
  background-color: rgb(18, 99, 102);
}

#zeroButton {
  font-size: 36px;
}

#clearButton {
  background-color: rgb(216, 46, 16);
  /* background-color: rgb(241, 197, 75); */
  /* background-color: rgb(241, 197, 75); */
  flex: 0 1 80px;
}

#backspaceButton {
  background-color: rgb(216, 46, 16);
  /* background-color: rgb(241, 197, 75); */
  font-size: 50px;
  flex: 0 1 80px;
}

#equalsButton {
  width: 170px;
  aspect-ratio: 2.125 / 1;
  font-size: 40px;
  background-color: rgb(216, 46, 16);
  /* background-color: rgb(241, 197, 75); */
  flex: 0 1 170px;
}