/* .gidole-regular {
  font-family: "Gidole", sans-serif;
  font-weight: 400;
  font-style: normal;
} */


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 28px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(5, 32, 54);
  background-color: rgb(224, 224, 182); 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

button {
  width: 80px;
  max-height: 80px;
  aspect-ratio: 1 / 1;
  font-size: clamp(.5rem, 7vw, 1rem); 
  border-radius: .3rem;
  flex: 0 1 80px;
  color: white;
  border: none;
}

a, p, a:hover {
  text-decoration: none;
  color: rgb(18, 99, 102);
  font-size: 1em;
}

a:hover {
  color: rgb(145, 155, 54);
}

/*classes*/

.operator {
  background-color: rgb(145, 155, 54);
  font-size: clamp(.5rem, 7vw, 1.3rem); 
}

.number {
  background-color: rgb(18, 99, 102);
  font-size: clamp(.5rem, 7vw, 1.2rem); 
}

.buttonDiv {
  display: flex;
  justify-content: space-between;
  gap: .2rem;
  padding: 0px;
  font-size: 28px;
}

/*ids*/

#displayDiv {
  display: flex;
  justify-content: right;
  align-items: center; 
  align-self: center;
  padding-right: 15px;
  width: 98%;
  height: clamp(40px, 13vw, 2.3rem); 
  flex: 0 1 auto;
  background-color: white; 
  border: 3px solid rgb(224, 224, 182); 
  font-size: clamp(.5rem, 4vw, .8rem); 
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  margin-bottom: 25px;
  border-radius: 2px;
}

#calculatorDiv {
  font-family: "Gidole", sans-serif;
  display: flex;
  flex-direction: column;
  flex: 0 1 400px;
  width: 90vw;
  max-width: 400px;
  gap: .2rem;
  font-size: 26px;
  /* padding: 1.5rem 1rem 2rem 1rem; */
  padding-top: clamp(1.5rem, 14vw, 2.5rem);
  padding-bottom: clamp(2.3rem, 15vw, 3.0rem);
  padding-left: clamp(1rem, 11vw, 1.5rem);
  padding-right: clamp(1rem, 11vw, 1.5rem);
  margin-top: 5vw;
  background-color: rgb(5, 32, 54);
}


#plusMinusButton {
  font-size: clamp(.5rem, 4vw, .8rem); 
  background-color: rgb(145, 155, 54);
  letter-spacing: 3px;
}

#decimalButton {
  font-weight: 900; 
  background-color: rgb(18, 99, 102);
}

#zeroButton {
  font-size: clamp(.5rem, 7vw, 1.4rem); 
}

#clearButton {
  background-color: rgb(216, 46, 16);
  font-size: clamp(.5rem, 5vw, .9rem); 
  flex: 0 1 80px;
}

#backspaceButton {
  background-color: rgb(216, 46, 16);
  font-size: clamp(.4rem, 8vw, 1.3rem); 
  flex: 0 1 80px;
}

#equalsButton {
  aspect-ratio: 2.125 / 1;
  font-size: clamp(1rem, 8vw, 1.5rem); 
  background-color: rgb(216, 46, 16);
  flex: 0 1 168px;
}

#pageFooter {
  display: flex;
  text-align: center;
  text-wrap: nowrap;
  width: 80vw;
  font-size: clamp(.2rem, 3vw, .5rem); 
  color: rgb(18, 99, 102);
  margin: 5px;
}